<app-navbar></app-navbar>
<app-login></app-login>
<app-intro></app-intro>

<div class="divider divider2 inverse_divider"></div>
<app-description></app-description>

<div class="divider divider3"></div>
<app-systemreq></app-systemreq>

<div class="divider divider4 inverse_divider"></div>
<app-signup></app-signup>

<div class="divider divider5"></div>
<app-download></app-download>

<div class="divider divider6 inverse_divider"></div>
<app-donations></app-donations>
<div class="divider divider7"></div>

<app-user-manager></app-user-manager>
