<aside class="rankings">
    <p class="tittle">
        Ranking de Gremios
    </p>
    <div  (click)="close_modal()"
          class="btn_close pointer">
        <i class="far fa-times-circle"></i>
    </div>
    <div *ngFor="let guild of guilds; let i = index" class="{{positions_class[i]}} text_position">
        <div class="position">
            {{ i + 1 }}
        </div>
        <div class="war">
            {{ guild.name }}
        </div>
        <div class="level">
            {{ guild.level }}
        </div>
    </div>
</aside>