<h2>
    Cambio de Contraseña
</h2>
<hr>
<form action="" method="get" class="form_chanpass" [formGroup]="form" (ngSubmit)="send()">
    <div class="input_form_chanpass">
        <label for="current_password">Contraseña Actual</label>
        <input
                formControlName="current_password"
                type="password"
                name="current_password"
                id="current_password"
                placeholder="*******">
    </div>

    <div class="input_sign_in_div" *ngIf="form.controls['current_password'].errors?.required && form.controls['current_password'].touched"> * La Contraseña es obligatoria.</div>
    <div class="input_sign_in_div" *ngIf="form.controls['current_password'].errors?.minlength"> * Por lo menos 6 caracteres. </div>

    <div class="input_form_chanpass">
        <label for="new_password">Nueva Contraseña</label>
        <input
                formControlName="new_password"
                type="password"
                name="new_password"
                id="new_password"
                placeholder="*******">
    </div>

    <div class="input_sign_in_div" *ngIf="form.controls['new_password'].errors?.required && form.controls['new_password'].touched"> * La Nueva Contraseña es obligatoria.</div>
    <div class="input_sign_in_div" *ngIf="form.controls['new_password'].errors?.minlength"> * Por lo menos 6 caracteres. </div>

    <div class="input_form_chanpass">
        <label for="confirm_new_password">Confirm. Contraseña</label>
        <input
                formControlName="new_password_again"
                type="password"
                name="confirm_new_password"
                id="confirm_new_password"
                placeholder="*******">
    </div>

    <div class="input_sign_in_div" *ngIf="form.controls['new_password_again'].errors?.required && form.controls['new_password_again'].touched"> * Confirmar Contraseña es obligatorio.</div>
    <div class="input_sign_in_div" *ngIf="form.controls['new_password_again'].errors?.minlength"> * Por lo menos 6 caracteres. </div>


    <label *ngIf="message" class="text-white center" >* {{ message }} </label>
    <button
            class="button pointer"
            type="submit"
            [disabled]="!form.valid">
        Aceptar
    </button>
</form>
