<h2>
    Cambio de Contraseña
</h2>
<hr>
<form action="" method="get" class="form_chanpass" [formGroup]="form" (ngSubmit)="send()">
    <div class="input_form_chanpass">
        <label for="current_password">Contraseña Actual</label>
        <input
                formControlName="current_password"
                type="password" 
                name="current_password" 
                id="current_password" 
                placeholder="*******">
    </div>
    <div class="input_form_chanpass">
        <label for="new_password">Nueva Contraseña</label>
        <input
                formControlName="new_password"
                type="password" 
                name="new_password" 
                id="new_password" 
                placeholder="*******">
    </div>
    <div class="input_form_chanpass">
        <label for="confirm_new_password">Confirmar Contraseña</label>
        <input 
                formControlName="new_password_again"
                type="password" 
                name="confirm_new_password" 
                id="confirm_new_password" 
                placeholder="*******">
    </div>
    <label *ngIf="message" class="text-white center" >* {{ message }} </label>
    <button   
            class="button pointer" 
            type="submit"
            [disabled]="!form.valid">
        Aceptar
    </button>
</form>