<h2> Chat </h2>

<div class="chat-window">

    <div #scroll class="app-mensajes">

        <div *ngFor="let message of messages" [ngClass]="{'text-right': message.from == user}" class="text-right" >
            <p>de: <strong style="color: {{message.color}};"> {{ message.from }} </strong> hora: {{ message.date | date }} </p>
            <p>
                <strong> {{ message.message}} </strong>
            </p>
        </div>

    </div>

    <form [formGroup]="messageForm" (keyup.enter)="sendMessage()" class="input-chat">
        <div class="input_sign_in">
            <input
                  formControlName="message"
                  class="input-chat"
                  type="text"
                  placeholder="Escribe un mensaje"
                  required>
        </div>
    </form>

</div>

<div class="chat-users">
    <h3> Online </h3>
    <hr/>
    <div className="chat-users-scroll" id="chat-users-scroll">

        <div>
            <span *ngFor="let user of users" style="color: {{user.color}};">
                {{ user.name }}
            </span>
        </div>

    </div>
</div>
