<a name="requirements"></a>
<div class="cap cap4">
  <div class="text">
    <h3> Requisitos Mínimos </h3>
    <ul>
      <li> SO Windows 7/8 </li>
      <li> CPU Pentium 3/1GHz </li>
      <li> Memoria 512MB </li>
      <li> Disco Duro 2GB </li>
      <li> Targeta Gráfica 32MB </li>
      <li> Soporte DirectX 9.0 </li>
    </ul>
  </div>
  <div class="text">
    <h3> Requisitos Recomendados </h3>
    <ul>
      <li> SO Windows 7/8 </li>
      <li> CPU Pentium 4/1.8GHz </li>
      <li> Memoria 1GB </li>
      <li> Disco Duro 3GB </li>
      <li> Targeta Gráfica 64MB RAM </li>
      <li> Soporte DirectX 9.0</li>
    </ul>
  </div>
</div>
